<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Fenyegetés</title>
    </h:head>
    <h:body>
        <center>
            <h1>Fenyegetés</h1>
            <h3>Kedves #{bankBean.ugyfel.nev}! Fizess vissza azonnal #{-bankBean.ugyfel.egyenleg} Forintot!</h3>
        </center>
    </h:body>
</html>

