<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Nincs ilyen ügyfél</title>
    </h:head>
    <h:body>
        <center>
            <h3>Sajnáljuk, #{bankBean.ugyfelAzon} azonosítójú ügyfél nincs a rendszerben!</h3>
            <a href="belep.xhtml">Vissazlép a bejelentkező oldalra</a>
        </center>
    </h:body>
</html>

