<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>#{bankBean.ugyfel.nev} adatai</title>
    </h:head>
    <h:body>
        <center>
            <h1>Adatok</h1>
            <table>
                <tr>
                    <td>Azonosító</td>
                    <td>#{bankBean.ugyfel.azon}</td>
                </tr>
                <tr>
                    <td>Név</td>
                    <td>#{bankBean.ugyfel.nev}</td>
                </tr>
                <tr>
                    <td>Egyenleg</td>
                    <td>#{bankBean.ugyfel.egyenleg}</td>
                </tr>
            </table>
        </center>
    </h:body>
</html>

