<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Őszibarack oldala</title>
    </h:head>
    <h:body>
        <center>
            <h1>Őszibarack</h1>
            <h1>Peach</h1>
            <h1>Pfirsich</h1>
            <h1>Persikka</h1>
        </center>
    </h:body>
</html>

