<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Mennyi az idő?</title>
    </h:head>
    <h:body>
        <center>
            <h:form>
                <h1>Ajax nélküli megoldás</h1>
                <h:commandButton value="Megmondja az időt"
                                 action="#{idoGenerator.idotLeker}"/>
                <h3><h:outputText value="#{idoGenerator.ido}"/></h3>
                <hr/>
                <h1>Ajax megoldás</h1>
                <h:commandButton value="Megmondja az időt"
                                 action="#{idoGenerator.idotLeker}">
                    <f:ajax render="elsoEredmeny"/>
                </h:commandButton>
                <h3><h:outputText value="#{idoGenerator.ido}"
                                  id="elsoEredmeny"/></h3>
                <hr/>
                <h1>Ajax megoldás paraméterrel</h1>
                <h:inputText value="#{idoGenerator.formatum}"
                             id="formatumMezo"/>
                <h:commandButton value="Megmondja az időt"
                                 action="#{idoGenerator.idotLeker}">
                    <f:ajax execute="formatumMezo" 
                            render="masodikEredmeny"/>
                </h:commandButton>
                <h3><h:outputText value="#{idoGenerator.ido}"
                                  id="masodikEredmeny"/></h3>
                <hr/>
                
            </h:form>
        </center>

    </h:body>
</html>

