<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <center>
            <h1>1. választás: <span style="color: #{valasztottSzin.szin1}">#{valasztottSzin.szin1}</span></h1>
            <h1>2. választás: <span style="color: #{valasztottSzin.szin2}">#{valasztottSzin.szin2}</span></h1>
            <h1>3. választás: <span style="color: #{valasztottSzin.szin3}">#{valasztottSzin.szin3}</span></h1>
            <h1>4. választás: <span style="color: #{valasztottSzin.szin4}">#{valasztottSzin.szin4}</span></h1>
        </center>
    </h:body>
</html>

