<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <center>        
            <h:form>
                <h1>Lenyíló lista</h1>
                <h:selectOneMenu value="#{valasztottSzin.szin1}">
                    <f:selectItems value="#{szinek.szinNevek}"/>
                </h:selectOneMenu>
                <hr/>
                <h1>Lista</h1>
                <h:selectOneListbox value="#{valasztottSzin.szin2}">
                    <f:selectItems value="#{szinek.szinErtekek}"/>
                </h:selectOneListbox>
                <hr/>
                <h1>Rádiógomb felsorolás</h1>
                <h:selectOneRadio value="#{valasztottSzin.szin3}">
                    <f:selectItems value="#{szinek.szinMap}"/>
                </h:selectOneRadio>
                <hr/>
                <h1>Lenyíló POJO listából</h1>
                <h:selectOneMenu value="#{valasztottSzin.szin4}">
                    <f:selectItems value="#{szinek.szinObjektumok}"
                                   var="szin"
                                   itemLabel="#{szin.nev}"
                                   itemValue="#{szin.ertek}"/>
                </h:selectOneMenu>
                <hr/>
                <h:commandButton value="Mutasd!" 
                                 action="#{valasztottSzin.szinMutatasa}"/>
            </h:form>
        </center>
    </h:body>
</html>

