<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Hogy hívnak?</title>
    </h:head>
    <h:body>
        <center>
            <h1>Hogy hívnak?</h1>
                <h:form>
                    <h:inputText value="#{koszones.nev}"/>
                    <h:commandButton value="Köszön"
                                     action="#{koszones.koszon()}"/>
                </h:form>
        </center>
    </h:body>
</html>

