<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Irányítószám</title>
    </h:head>
    <h:body>
        <center>
            <h:form>
                <h1>Minek az irányítószáma kellene?</h1>
                Megye:
                <h:selectOneMenu value="#{irszBean.megyeAzon}">
                    <f:selectItem itemLabel="--Válassz megyét!--"/>
                    <f:selectItems value="#{irszBean.megyek}"
                                   var="megye"
                                   itemLabel="#{megye.nev}"
                                   itemValue="#{megye.azon}"/>
                    <f:ajax render="varosLista irsz"/>
                </h:selectOneMenu>
                <br/>
                Város:
                <h:selectOneMenu value="#{irszBean.varosIrsz}"
                                 disabled="#{irszBean.varosListaTiltva}"
                                 id="varosLista">
                    <f:selectItem itemLabel="--Válassz várost!--"/>
                    <f:selectItems value="#{irszBean.varosok}"
                                   var="varos"
                                   itemLabel="#{varos.nev}"
                                   itemValue="#{varos.irsz}"/>
                    <f:ajax render="irsz"/>
                </h:selectOneMenu>
                <br/>
                Irányítószám: 
                <strong>
                    <h:outputText value="#{irszBean.varosIrsz}"
                                  id ="irsz" />
                </strong>
            </h:form>
        </center>
    </h:body>
</html>

